<div class="row" *ngIf="person">

    <button type="button" class="btn btn-dark" routerLink="/editabout/{{person.id}}" *ngIf="isLogged">
        Edit person
    </button>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{person.img}}" class="img-fluid" id="profilePicture">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{person.name}} {{person.lastName}}</p>
        <p id="skills">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>About me</h2>
            <p id="aboutMeText">{{person.description}}</p>
        </span>
    </div>
</div>