<div class="row" *ngIf="person">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="{{person.img}}" class="img-fluid" id="profilePicture">
    </div>

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2 profilename">
        <p id="name">{{person.name}} {{person.lastName}}</p>
        <p id="skills">Full Stack Developer Jr.</p>
    </div>
    
    <div class="col-xs-9 col-sm-7 col-md-7 col-lg-7 container">
        <span>
            <h2>About me</h2>
            <p id="aboutMeText">{{person.description}}</p>
        </span>
    </div>

    <button class="btn btn-outline-link btn-sm col-xs-1 col-sm-1 col-md-1 col-lg-1 editaboutbtn"
        routerLink="/editabout/{{person.id}}" *ngIf="isLogged">
        <i class="bi bi-pencil-square"></i></button>

</div>