.row {
    padding: 15px;
    margin: 15px;
    background-color: white;
    justify-content: space-around;
    align-items: center;
}


div {
    background-color: white;
    text-align: center;
}

.container{
    align-items: center;
    word-wrap:break-word;
}

/* Profile picture style */

@media (min-width: 576px) {
    #profilePicture {
        position: relative;
        width: 100%;
        left: auto;
        margin-bottom: 0px;
        margin-top: 15px;
    }
}

@media (max-width: 575px) {
    #profilePicture {
        position: relative;
        width: 50%;
        top: 20px;
    }
}

/* Name tag */

#name {
    font-weight: bold;
    margin-bottom: 0%;
    font-size: large;
}