<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/profilePicture.png" class="img-fluid" id="profilePicture">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="name">{{person.name}} {{person.lastName}}</p>
        <p id="skills">Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h2>About me</h2>
            <p id="aboutMeText">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Ad expedita eius natus repudiandae magni cupiditate quis maxime necessitatibus 
                vel pariatur nihil ducimus doloremque consequuntur ipsa quod, 
                praesentium sed, iusto nobis.</p>
        </span>
    </div>
</div>