.row {
    padding: 15px;
    
}

div {
    background-color: #F8F7F2;
    text-align: center;
}

/* Profile picture style */

@media (min-width: 576px) {
    #profilePicture {
        position: relative;
        width: 100%;
        left: auto;
        margin-bottom: 0px;
    }
}

@media (max-width: 575px) {
    #profilePicture {
        position: relative;
        width: 50%;
        top: 20px;
    }
}

/* Name tag */

#name {
    font-weight: bold;
    margin-top: 30%;
}