.fa {
    padding: 6px;
    font-size: 12px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
    opacity: 0.7;
}

.fa-instagram {
    background-color: #f40083;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.flex-container {
    display: flex;
}

.flex-container .push {
    margin-left: auto;
    margin-right: 2px;
}

.push .btn {
    font-size: 11px;
    text-align: center;
    text-decoration: none;
}