<div class="row">

    <h3>Education</h3>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/addeducation" *ngIf="isLogged">
            Add education
        </button>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table">

            <tbody>
                <tr *ngFor="let Education of education">

                    <!-- Education name -->
                    <td>
                        <h5>{{Education.eduName}}</h5>
                    </td>

                    <!-- Education description -->
                    <td>{{Education.eduDescription}}</td>

                    <!-- Edit Education -->
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-link btn-sm"
                            routerLink="/editeducation/{{Education.id}}">
                            <i class="bi bi-pencil-square"></i></button>
                    </td>

                    <!-- Delete Education -->
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-link btn-sm" (click)="deleteEducation(Education.id)">
                            <i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>