<div class="row">


    <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Hard skills and Soft skills</h3>        
        <button class="btn btn-outline-link btn-sm" routerLink="/addskill"
            *ngIf="isLogged"><i class="bi bi-plus-circle-fill"></i>
        </button>
    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4 circle" *ngFor="let skill of skill">
        
        <circle-progress
            [title]="(skill.skillName)"
            [titleColor]="'#000000'"
            [showUnits]="false"
            [percent]="(skill.percent)"
            [radius]="50"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4b4e49'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

        <div>
            <!-- Edit Skill -->
            <td *ngIf="isLogged">
                <button class="btn btn-outline-link btn-sm"
                        routerLink="/editskill/{{skill.id}}">
                            <i class="bi bi-pencil-square"></i></button>
            </td>

            <!-- Delete Skill -->
            <td *ngIf="isLogged">
                <button class="btn btn-outline-link btn-sm" (click)="delete(skill.id)">
                    <i class="bi bi-trash"></i></button>
            </td>
        </div>



    </div>


  
</div>