<div class="row">

    <h3>Hard skills and Soft skills</h3>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
            [title]="'html'"
            [titleColor]="'#000000'"
            [showUnits]="false"
            [percent]="95"
            [radius]="50"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4b4e49'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
            [title]="'CSS'"
            [titleColor]="'#000000'"
            [showUnits]="false"
            [percent]="80"
            [radius]="50"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4b4e49'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
            [title]="'JS'"
            [titleColor]="'#000000'"
            [showUnits]="false"
            [percent]="80"
            [radius]="50"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4b4e49'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
            [title]="'GitHub'"
            [titleColor]="'#000000'"
            [showUnits]="false"
            [percent]="50"
            [radius]="50"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4b4e49'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
            [title]="'Scrum'"
            [titleColor]="'#000000'"
            [showUnits]="false"
            [percent]="60"
            [radius]="50"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4b4e49'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

    </div>

    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
            [title]="'Team Work'"
            [titleColor]="'#000000'"
            [showUnits]="false"
            [percent]="90"
            [radius]="50"
            [outerStrokeWidth]="8"
            [innerStrokeWidth]="5"
            [outerStrokeColor]="'#4b4e49'"
            [innerStrokeColor]="'#000000'"
            [animation]="true"
            [animationDuration]="800"
        ></circle-progress>

    </div>


  
</div>