<div class="row">
    <div class="container">
        <div class="logo">
           <a href="https://argentinaprograma.inti.gob.ar/" target="_blank" rel="noopener noreferrer"><img src="../../../../assets/APlogo.png" id="logoAP"></a>
        </div>

        <div class="rrss">
            <div>

            <a href="https://github.com/agusbcl" target="_blank" rel="noopener noreferrer"><img src="../../../assets/github.png" class="me-1" id="github"></a>
            <a href="https://www.linkedin.com/in/agustina-balcarcel-399387251/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/lkdlin.png" class="me-1" id="linkedin"></a>
            <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer"><img src="../../../assets/ig.png" class="me-1" id="instagram"></a>
            <button type="button" class="btn btn-outline-light btn-sm" (click)="login()" *ngIf="!isLogged">Login</button>
            <button type="button" class="btn btn-outline-light btn-sm" (click)="onLogOut()" *ngIf="isLogged">Logout</button>

            </div>
        </div>
    </div>

</div>