<div class="container" *ngIf="jobExp">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="jobName">Company name</label>
                    <input type="text" class="form-control" id="jobName" name="jobName" [(ngModel)]="jobExp.jobName" required>
                </div>

                <div class="form-group">
                    <label for="jobDescription">Job description</label>
                    <input type="text" class="form-control" id="jobDescription" name="jobDescription" [(ngModel)]="jobExp.jobDescription" required>
                </div>

                <button type="submit" class="btn btn-dark">Save changes</button>

            </form>
        </div>
    </div>
</div>