<div class="row">

    
    <div class="container col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h3>Job experience</h3>        
        <button class="btn btn-outline-link btn-sm" routerLink="/newexperience"
            *ngIf="isLogged"><i class="bi bi-plus-circle-fill"></i>
        </button>
    </div>


    <div>
        <table class="table">
            <tbody>
                <tr *ngFor="let JobExperience of jobExperience">

                    <!-- Job name -->
                    <td class="col-xs-8 col-sm-1 col-md-1 col-lg-1">
                        <h5>{{JobExperience.jobName}}</h5>
                    </td>

                    <!-- Start Date -->
                    <td class="col-xs-5 col-sm-1 col-md-1 col-lg-1">{{JobExperience.startDate | date}}</td>

                    <!-- End Date -->
                    <td class="col-xs-5 col-sm-1 col-md-1 col-lg-1">{{JobExperience.endDate | date}}</td>

                    <!-- Job description -->
                    <td class="col-xs-10 col-sm-6 col-md-6 col-lg-6">
                        <p class="text-break">{{JobExperience.jobDescription}}</p>
                    </td>

                    <!-- Edit job experience -->
                    <td class="col-xs-8 col-sm-1 col-md-1 col-lg-1" *ngIf="isLogged">
                        <button class="btn btn-outline-link btn-sm"
                            routerLink="/editjobexperience/{{JobExperience.id}}">
                            <i class="bi bi-pencil-square"></i></button>
                    </td>

                    <!-- Delete job experience -->
                    <td class="col-xs-8 col-sm-1 col-md-1 col-lg-1" *ngIf="isLogged">
                        <button class="btn btn-outline-link btn-sm" (click)="deleteJobExperience(JobExperience.id)">
                            <i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>