<div class="row">

    <h3>Job experience</h3>
    <div class="col-lg-2">
        <button type="button" class="btn btn-dark" routerLink="/newexperience" *ngIf="isLogged">
            Add job experience
        </button>
    </div>


    <div class="col-lg-12 col-md-12 col-sm-12">
        <table class="table">

            <tbody>
                <tr *ngFor="let JobExperience of jobExperience">

                    <!-- Job name -->
                    <td>
                        <h5>{{JobExperience.jobName}}</h5>
                    </td>

                    <!-- Job description -->
                    <td>{{JobExperience.jobDescription}}</td>

                    <!-- Edit job experience -->
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-link btn-sm"
                            routerLink="/editjobexperience/{{JobExperience.id}}">
                            <i class="bi bi-pencil-square"></i></button>
                    </td>

                    <!-- Delete job experience -->
                    <td *ngIf="isLogged">
                        <button class="btn btn-outline-link btn-sm" (click)="deleteJobExperience(JobExperience.id)">
                            <i class="bi bi-trash"></i></button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>